.name-container {
    position: relative;
    width: 110px;
    margin: 64px auto 0 auto;
    transition: transform .4s ease-in-out
}
.short-intro {
    position: relative;
    margin: 80px auto 0 auto;
    text-align: center;
    opacity: 1;
    font-family: Montserrat, sans-serif;
    transition: transform .4s ease-in-out, opacity 1s ease-in-out;
    padding: 0 20px
}
.left-cover,
.right-cover {
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: transparent;
    top: 0;
    left: 0;
    border-color: #2c65a0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out
}
.right-cover {
    left: 54px;
    top: 4px;
    border-right: 6px solid orange;
    border-bottom: 6px solid orange;
    animation-name: downright
}
.left-cover {
    left: -10px;
    top: -10px;
    border-left: 6px solid orange;
    border-top: 6px solid orange;
    animation-name: upleft
}
@keyframes upleft {
    0% {
        transform: translate3d(0)
    }
    to {
        transform: translate3d(-15px, -15px, 0)
    }
}
@keyframes downright {
    0% {
        transform: translate3d(0)
    }
    to {
        transform: translate3d(15px, 15px, 0)
    }
}

.name {
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    color: #505050;
    font-family: Montserrat, sans-serif;
    opacity: 0;
    animation: name_fadein ease-in-out;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    line-height: 60px;
    animation-delay: .3s;
}

@keyframes name_fadein {
    0% { opacity: 0 }
    to { opacity: 1 }
}
